.section-engineeredfor {
    text-align: left
}

@media (min-width: 768px) {
    .section-engineeredfor {
        text-align: center
    }
}

.section-engineeredfor h2 {
    margin-left: 18px;
    margin-right: 18px
}

.headline {
    margin-bottom: 1.5rem
}

@media (min-width: 768px) {
    .headline {
        margin-bottom: 3rem
    }
}

.col {
    background-color: var(--black);
    border: 1px solid var(--black-two);
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, #6d6d6d, var(--black-two));
    flex: 1;
    margin-bottom: 1rem;
    margin-left: 18px;
    padding-left: 0;
    padding-right: 0
}
.col-headline {}
.col-inner {
    height: 100%;
    padding: 1.5rem 18px 0
}

@media (min-width: 768px) {
    .col {
        border-right: 0;
        margin: 0
    }

    .col-inner {
        padding: 3rem 2rem 0
    }

    .col:last-child {
        border-right: 1px solid var(--black-two)
    }

    .col-body {
        margin-bottom: 3rem
    }
}

.icon {
    height: 48px;
    margin: 0 auto 2rem;
    width: auto
}

@media (min-width: 768px) {
    .icon {
        height: 64px
    }
}

.section-engineeredfor {
    overflow: hidden
}
