
.gradient-box {
    background-color: var(--black);
    border: 1px solid var(--black-two);
    margin: auto;
    max-width: 52rem
}

.strip {
    bottom: -3rem;
    left: 60%;
    width: 95%
}

@media (min-width: 768px) {
    .strip {
        bottom:-10rem;
        left: 75%;
        width: 60%
    }
}

.gradient-box h2 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg,var(--greenblue),var(--macaroni-and-cheese));
    font-size: 1.5rem;
    margin: 1rem 1.125rem;
    text-align: center
}

@media (min-width: 768px) {
    .gradient-box h2 {
        font-size:2rem;
        margin: 2.5rem 0
    }

    .manifesto {
        text-align: center
    }
}



